################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Angular-Project-7/.vs/Angular-Project-7/FileContentIndex
/.vs/Angular-Project/v17
